@keyframes colorCycle {
  0% {
    color: black;
  }
  25% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}

.color-animate {
  animation: colorCycle 6s linear infinite;
}
