@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
/*font-family: 'Poppins', sans-serif;*/


    }
}
